body {
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  margin-left: 30px;
}
.margin-padding-remove {
  margin: 0;
  padding: 0;
}
.primary-link-color {
  color: #4f65f6;
}
.primary-background-color {
  background-color: #4f65f6;
}
.primary-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.dropdown-left {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-expand {
  width: 200px;
}
.primary-link:hover {
  background-color: #f8f8f8;
}
.custom-img {
  background-image: url('gorsel.png'); 
  min-height: 320px; 
  background-position: center; 
  background-size: cover;
}
.content {
  position: absolute;
}

.xxs-font {
  font-size: 5px;
}
#job p {
  margin: 0;
  padding: 0;
}
.button-style {
  padding: 10px 40px;
  border-radius: 8px;
  color: white;
}
.button-style:hover {
  color: white !important;
  background-color: #344be7 !important;
}
.homepage-button {
  font-size: 12px;
  color: #697386;
  border-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 8px;
  gap: 4px;
  position: relative;
  width: 100px;
  height: 28px;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}
.homepage-button:hover{
  background: rgba(0, 0, 0, 0.08);
}
.homepage-button:active{
  background: rgba(0, 0, 0, 0.12);
}
.field-style {
  height: 50px;
  border-radius: 8px;
  font-size: 16px;
}
.margin-bottom-add {
  margin-bottom: 100px;
}
.img-size {
  width: 130px;
}
.fix-width {
  max-width: 760px;
}
/* .cover-img{
    width: 100%;
} */

@media only screen and (max-width: 768px) {
  .img-size {
    width: 100px;
    margin-bottom: -22px;
  }
  .homepage-button{
    margin-top: 16px;
  }
}
.img-thumbnail.position-absolute {
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%);
}
