body {
    font-family:'Inter', sans-serif;
}
a{
    text-decoration: none;
}
.primary-link-color {
    color: #383CC1;
}
.primary-link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    padding-top: 16px;
    padding-bottom: 16px;
    
}
.dropdown-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-expand {
    width: 200px;
}
.primary-link:hover {
    background-color: #f8f8f8;
}
.bg-img{
    background: url(https://f.hubspotusercontent40.net/hubfs/9253440/Blog%20Images/collaboration-main-image1-1-1.jpeg) no-repeat center center/cover;
    position: relative;
}
.content{
    position: absolute;
}
.small-font{
    font-size: 14px;
}
#job p{
    margin: 0;
    padding: 0;
}
