body {
    font-family:'Inter', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    margin-left: 30px;
}
.margin-padding-remove {
    margin: 0;
    padding: 0;
}
.primary-link-color {
    color: #4F65F6;
}
.primary-background-color {
    background-color: #4F65F6;
}
.primary-link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    padding-top: 16px;
    padding-bottom: 16px;

}
.dropdown-left {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-expand {
    width: 200px;
}
.primary-link:hover {
    background-color: #f8f8f8;
}
.bg-img{
    background: url(https://f.hubspotusercontent40.net/hubfs/9253440/Blog%20Images/collaboration-main-image1-1-1.jpeg) no-repeat center center/cover;
    position: relative;
    height: 300px;
}
.content{
    position: absolute;
}

.xxs-font{
    font-size: 5px;
}
#job p{
    margin: 0;
    padding: 0;
}
.button-style{
    padding: 10px 40px;
    border-radius: 8px;
    color: white;
}
.button-style:hover{
    color: white !important;
    background-color: #344BE7 !important;
}
.field-style{
    height: 50px;
    border-radius: 8px;
    font-size: 16px;
}
.margin-bottom-add{
    margin-bottom: 100px;
}
.img-size{
    width: 130px;
}
.cover-height{
        width: 100%;
      min-height: 300px;
      background-image: url('gorsel.png');
      background-position: center;
      background-size: cover;
}
/* .cover-img{
    width: 100%;
} */

@media only screen and (max-width: 768px) {

    .img-size {width: 100px;}}
    .img-thumbnail.position-absolute {
        top: 50%;
        left: 50%;
        transform: translate(50%, -50%);
      }